body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    font-family: cursive;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 65px;
    background-color: white;
}

nav ul li{
    padding: 0 12px ;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 80vh;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
}